@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(54, 54, 54, 0.705);
    margin: 0px;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav {
     background-color: rgba(63, 62, 62, 0.651);
     padding: 3px;
     box-shadow: 1px 1px 1px 1px black;
     

}

nav > a {
     text-decoration: none;
     color: white;
     font-weight: bold;
     margin-right: 25px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0px;
}

article {
    background-color: lightgray;
    padding: 5px;

}

article > aside {
    background-color: rgb(145, 144, 144);
}

footer { 
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}


div#bola {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;

}

article#segundo {
    background-color: rgb(0, 0, 0);
    border: 1px solid black

}

article#segundo > h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-indent: 2px;
    padding: 10px;
   
}

article#segundo > h2:hover {
    text-decoration: underline;
    color: rgba(216, 213, 213, 0.808);
}

article#segundo > p {
    color: white;
    padding: 10px;
}
